---
title: Documentation
layout: doc
---
<p>We have a few good resources for you to get started with Nu.</p>

<p>At the bottom of this page you can also find quick references to the commands provided by Nu Shell if you need quick
    support.</p>

<h1>Books</h1>

<h2>Nu Book</h2>
<p>
    You can read our <a href="https://www.nushell.sh/book">book</a> to learn more about the core concepts behind Nu. It
    covers the
    basic and contains a lot of examples which will help you to have an easy start.
</p>
<h2>Contributor Book</h2>
<p>
    In the <a href="https://www.nushell.sh/contributor-book">contributors book</a> you can find further information. It
    attempts to
    cover the basics of how Nu works internally, to get a solid understanding. You will learn how data is treated, what
    kind
    of data types Nu supports and how you can write plugins for it.
</p>
<h2>Cookbook</h2>
<p>
    <a href="https://www.nushell.sh/cookbook/">Nu Cookbook</a> is a collection of examples to help you get the most out
    of using
    Nushell. It offers multiple ways of expressing the same pipelines so you can become familiar with all the commands.
</p>
<h1>Quick command references</h1>

<style>
    .flex-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .item {
        border: 2px solid black;
        border-radius: 25px;
        margin: 5px;
        display: flex;
        justify-content: center;
        min-width: 200px;
        flex-shrink: 0;
    }

    .stack {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .invisible {
        visibility: hidden;
    }

    .hidden {
        display: none;
    }

    #sidebar {
        min-width: 10vw;
        max-height: 80vh;
        overflow-y: scroll;
    }

    .frame pre {
        white-space: pre-wrap;
    }

    .frame {
        width: 80%;
    }

    .button {
        background: none;
        color: inherit;
        border: 1px black solid;
        border-radius: 10px;
        padding: 2px;
        margin: 2px;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }


    .button.selected {
        background-color: #69ff33;
        /* green-brighter */
    }

    .grow {
        flex-grow: 1;
    }
</style>
<div class="container">
    <div class="row">
        <div id="sidebar" class="stack">
            {% for command in site.data.commands %}
            <div class="row">
                <button class="row__item button grow"
                    onclick="toggleFrame('{{ command.name | replace: ' ', '_' }}-usage')">{{ command.name }}</button>
            </div>
            {% if command.subcommands %}
            <div id="{{ command.name }}-subs">
                {% for sub_command in command.subcommands %}
                <div class="row">
                    <button class="row__item button grow"
                        onclick="toggleFrame('{{ sub_command.name | replace: ' ', '_' }}-usage')">{{ sub_command.name }}</button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="frame">
            {% for command in site.data.commands %}
            <div id="{{ command.name | replace: ' ', '_' }}-usage" class="hidden">
                {% if command.doc_link %}
                <a href="{{ command.doc_link }}">Detailed Documentation&emsp;<i class="fa fa-book"></i></a>
                {% else %}
                <a class="invisible" href="">Detailed Documentation<i class="fa fa-book"></i></a>
                {% endif %}
                <pre><code>{{ command.documentation | strip_html  }}</code></pre>
            </div>
            {% for sub_command in command.subcommands %}
            <div id="{{ sub_command.name | replace: ' ', '_' }}-usage" class="hidden">
                {% if sub_command.doc_link %}
                <a href="{{ sub_command.doc_link }}">&emsp;<i class="fa fa-book"></i></a>
                {% else %}
                <a class="invisible" href="">Detailed Documentation<i class="fa fa-book"></i></a>
                {% endif %}
                <pre><code>{{ sub_command.documentation | strip_html  }}</code></pre>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function toggleVisible(id) {
        $("#" + id).toggleClass("hidden")
    }

    var last = null;
    function toggleFrame(id) {
        $("#" + last).toggleClass("hidden")
        $("#" + id).toggleClass("hidden")
        last = id;
    }

    // Just so we have something showing at the start
    toggleFrame("alias-usage");
</script>
