/* The App Bar */
.nu-top-app-bar {
    width: 100%;

    background-color: var(--header);
    color: var(--on-header);
    border-bottom: 2px solid var(--border);

    box-shadow: var(--downset-shadow);

    flex-direction: column;
    justify-content: space-between;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nu-top-app-bar::-webkit-scrollbar {
    display: none;
}
.nu-top-app-bar__row {
    width: 100%;
    height: 70px;

    display: flex;
    position: relative;
}
.nu-top-app-bar__section {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 16px;
}
.nu-top-app-bar__section--start {
    justify-content: flex-start;
    order: -1;
}
.nu-top-app-bar__section--end {
    justify-content: flex-end;
    order: 1;
}

/* The Logo */
.nu-logo-green {
    color: var(--header-green);
}
.nu-logo-black {
    color: var(--header-black);
}

/* The Links */
.nu-top-app-bar__link {
    color: var(--on-header-seconday);
    text-decoration: none;
    margin-left: 16px;
}
