.nu-code-block {
    background-color: var(--code);
    color: var(--on-code);

    border: 2px solid var(--border);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: var(--neutral-shadow);

    margin-top: 10px;
    margin-bottom: 10px;
}
div.highlight {
    background-color: var(--code);
    color: var(--on-code);

    border: 2px solid var(--border);
    border-radius: 15px;

    box-shadow: var(--neutral-shadow);

    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}
div.highlight pre {
    background-color: transparent !important;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 14px;
    padding: 16px;
}
div.highlight pre:not(.nu-code-block) {
    border: none;
    box-shadow: none;
    margin: 0;
}
pre:not(.nu-code-block) {
    background-color: var(--code);
    color: var(--on-code);

    border: 2px solid var(--border);
    border-radius: 15px;

    box-shadow: var(--neutral-shadow);

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 16px;
}
pre code {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 14px;
    padding: 16px;
}
.nu-code-block .nu-code-block__inner {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 14px;
    padding: 16px;
}
.nu-code-block--prominent {
    margin-top: 58px;
    margin-bottom: 58px;
}
.nu-code-block--prominent .nu-code-block__inner {
    font-weight: 700;
    font-size: 30px;
    padding: 75px;
}
.nu-code-block--button {
    max-width: 256px;
}
.nu-code-block--button .nu-code-block__inner {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    font-size: 30px;
    padding: 22px;
    text-decoration: none;
    text-decoration-line: none;
}