:root {
    /* Palette */
    --dark-0: #0C130D;
    --dark-1: #181D19;
    --dark-2: #222723;
    --light-0: #CFD6D0;
    --light-1: #DDE4DE;
    --light-2: #EBF3ED;
    --red-0: #D95281;
    --red-1: #F76E9B;
    --red-2: #FF8AB6;
    --yellow-0: #D69F1E;
    --yellow-1: #F5BA3D;
    --yellow-2: #FFD659;
    --green-0: #22C253;
    --green-1: #4CDF6D;
    --green-2: #6DFC87;
    --blue-0: #3A93E2;
    --blue-1: #5EADFF;
    --blue-2: #7EC8FF;
    --cyan-0: #00CDE2;
    --cyan-1: #00EAFF;
    --cyan-2: #4EFFFF;
    --violet-0: #B47CE2;
    --violet-1: #D096FF;
    --violet-2: #EDB1FF;

    /* Semantic Roles */
    --background: var(--dark-1);
    --on-background: var(--light-2);

    --header: var(--dark-2);
    --on-header: var(--light-2);
    --on-header-secondary: var(--light-0);

    --code: var(--dark-0);
    --on-code: var(--light-2);

    --border: rgba(255,255,255,0.1);

    --header-green: var(--green-1);
    --header-black: var(--light-2);

    --code-green: var(--green-1);
    --code-cyan: var(--cyan-1);
    --code-violet: var(--violet-1);
    --code-yellow: var(--yellow-1);

    /* Effects */
    --downset-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    --neutral-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
:root {
    --background: var(--light-1);
    --on-background: var(--dark-2);

    --header: var(--light-2);
    --on-header: var(--dark-2);
    --on-header-secondary: var(--dark-1);

    --code: var(--light-2);
    --on-code: var(--dark-2);

    --border: rgba(0,0,0,0.1);

    --header-green: var(--green-0);
    --header-black: var(--dark-2);

    --code-green: var(--green-0);
    --code-cyan: var(--cyan-0);
    --code-violet: var(--violet-0);
    --code-yellow: var(--yellow-0);
}
}

.code-green {
    color: var(--code-green);
}
.code-violet {
    color: var(--code-violet);
}
.code-cyan {
    color: var(--code-cyan);
}
.code-yellow {
    color: var(--code-yellow);
}