.nu-content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1000px;
    margin-top: 64px;
}
.nu-center {
    text-align: center;
}
.nu-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nu-flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nu-spacer {
    display: flex;
    flex-direction: column;
}
.nu-spacer *:not(:first-child) {
    margin-top: 20px;
}
p {
    margin-top: 14px;
    margin-bottom: 14px;
    line-height: normal;
}