<nav>
    <a class="nu" href="{{ '/' | relative_url }}">nu</a>
    <a class="{% if include.current == 'Documentation' %} active {% endif %}" href="{{ '/documentation.html' | relative_url }}"><span class="no-mobile">Documentation</span><span class="mobile">Docs</span></a>
    <a class="{% if include.current == 'Contribute' %} active {% endif %}" href="{{ '/contribute.html' | relative_url }}">Contribute</a>
    <a class="{% if include.current == 'about' %} active {% endif %}" href="{{ '/about.html' | relative_url }}">About</a>
    <a href="http://blog.nushell.sh">Blog</a>
    <div class="right">
        <a href="{{ '/installation.html' | relative_url }}" class="button">Install<span class="no-mobile"> Nushell</span></a>
    </div>
</nav>
