@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:16px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //color: #f0e7d5
  color:#585858;
  font-weight: normal;
  //background: #252525;
  background: #ffffff;
  background-attachment: fixed !important;
  //background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  //color:#e8e8e8;
  color: #242424;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;

}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#242424;;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #535353;
}

a {
  color:#418305;
  font-weight:400;
  text-decoration:none;
  font-weight: bold;

  &.nu {
    font-size: 30px;
  }

  &:hover {
    color: #60c007;
  }
}

a small {
  font-size:11px;
  color:#555;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-type: square;
  color: #555;
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width:650px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
  margin-top: 70px;
}

section img {
  max-width: 100%;
  border-radius: 5px;
}

blockquote {
  border-left:3px solid #4e9a06;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#282828;
  font-size:13px;
  margin: 0 4px;
  padding: 2px 4px;
  border-radius: 5px;
  background: #eeeeee;
  //background: #333;
}

pre {
  padding:8px 15px;
  background: #333;
  border-radius: 5px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    background: #333;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: min-content;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  padding-top: 2px;
  padding-bottom: 2px;
  nav {
    max-width: 650px;
    margin: 2px auto;
    padding: 0 0px;
    background: none;
    //padding-top: 10px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    text-align: left;
    flex-wrap: wrap;
    display: flow-root;
    margin-top: 10px;


    a {
      margin-right: 15px;
      margin-top: 5px;
      color: #4ec526;
      font-weight: normal;

      &:hover {
        color: #40ff00;
      }

    }

    li {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      list-style: none;
      display: inline;
      color: white;
      line-height: min-content;
      text-shadow: 0px 1px 0px rgba(0,0,0,.2);
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 5px;

      a {
        color: #fff;
        border: 1px solid none;
        border-radius: 5px;
        background: #418305;
        border-radius: 5px;
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
        word-spacing: 2px;
        background-color: #418305;
        padding: 4px 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size:15px;
        text-align:center;

        &:hover {
          color: #fff;
          background: #4ec526;
          background-color: #4ec526;
          border: 1px solid none;
          border-radius: 5px;
          box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
        }
      }

      &.button {
        float: right;
        margin-left: 0px;
        size: 12px;
        border-radius: 5px;
        top: 5px;
      }

      &.downloads {
        float: right;
        margin-left: 6px;
      }

      &.title {
        float: right;
        margin-right: 10px;
        font-size: 11px;
      }
    }
  }
}

footer {
  font-size: 12px;
  color: #9e9e9e;
  max-width: 650px;
  margin: 2px auto;
  padding: 0 0px;
  background: none;
  margin: 10px auto;
  .credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}

.nav_links {
  border: none;
  border-radius: 50px;
}

@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {

  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }
  nav {
    display: none;
  }
}
