.nu-code-block {
    background-color: var(--code);
    color: var(--on-code);

    border: 2px solid var(--border);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: var(--neutral-shadow);

    margin-top: 10px;
    margin-bottom: 10px;

    & &__inner {
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 14px;
        padding: 16px;
    }
    &--prominent {
        margin-top: 58px;
        margin-bottom: 58px;
        .nu-code-block__inner {
            font-weight: 700;
            font-size: 30px;
            padding: 75px;
        }
    }
    &--button {
        max-width: 256px;
        .nu-code-block__inner {
            font-family: 'Fira Code', monospace;
            font-weight: 700;
            font-size: 30px;
            padding: 22px;
            text-decoration: none;
            text-decoration-line: none;
        }
    }
}
div.highlight {
    background-color: var(--code);
    color: var(--on-code);

    border: 2px solid var(--border);
    border-radius: 15px;

    box-shadow: var(--neutral-shadow);

    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    & pre {
        background-color: transparent !important;
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 14px;
        padding: 16px;

        &:not(.nu-code-block) {
            border: none;
            box-shadow: none;
            margin: 0;
        }
    }
}

pre {
    &:not(.nu-code-block) {
        background-color: var(--code);
        color: var(--on-code);
    
        border: 2px solid var(--border);
        border-radius: 15px;
    
        box-shadow: var(--neutral-shadow);
    
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 16px;
    }
    & code {
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 14px;
        padding: 16px;
    }
}
