.footer-line {
    max-width: 800px;
    border-top: 1px solid var(--border);
    opacity: 0.1;
}
.language-footer {
    margin-top: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    a {
        color: var(--on-background);
        width: max-content;

        border: 1px solid var(--border);
        background-color: var(--chip);

        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 25px;

        &:hover {
            filter: brightness(110%);
        }
        &:active {
            filter: brightness(90%);
        }
    }
}