@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.h1 {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 50px;
}
h1, .h1-minor {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 30px;
}
.h1-minor-minor {
    font-family: 'Fira Code', monospace;
    font-size: 30px;
}

h2, .h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h3, .h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

body, .body {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
}

.button {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 30px;
}

.nu-command-link {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 32px;

    color: var(--on-base);
}