@import "_reset";

@import "colors";
@import "typography";
@import "layout";

@import "app-bar";
@import "code-block";
@import "flags";
@import "card";
@import "footer";

@import "responsive";

:root {
    background-color: var(--background);
    color: var(--on-background);
}

* {
    box-sizing: border-box;
}
html {
    max-width: 100vw;
}