<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" type="image/png" href="https://www.nushell.sh/images/link.png">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .social {
        width: max-content;
        margin: 0 auto;
      }
      .social a {
        display: inline-block;
        margin: 0 10px;
        width: 90px;
        text-align: center;
      }
      .social a img {
        display: block;
        width: 50px;
        height: auto;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
      <div id="header">
            {% include navigation.html current="about" %}
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <div class="subheading">{{ site.description | default: site.github.project_tagline }}</div>
        </div>
        {{ content }}

        <p>You can find us here:</p>
        <div class="social">
          <a href="https://github.com/nushell/nushell">
            <img height=20 src="https://www.nushell.sh/images/github.svg" alt="GitHub">
            <span>GitHub</span>
          </a><a href="https://discord.gg/NtAbbGn">
            <img height=20 src="https://www.nushell.sh/images/discord.svg" alt="Discord">
            <span>Discord</span>
          </a><a href="https://twitter.com/nu_shell">
            <img height=20 src="https://www.nushell.sh/images/twitter.svg" alt="Twitter">
            <span>Twitter</span>
          </a>  
        </div>
        </section>
    </div>

    <footer>
      <div>
        <span class="credits left">Project maintained by <a href="{{ site.url }}">{{ site.github_username }}</a></span>
        <span class="credits right">Theme: modified version of <a href="https://github.com/pages-themes/midnight/">midnight</a></span>
      </div>
    </footer>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    {% include script.html %}
  </body>
</html>