<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<link rel="icon" type="image/png" href="https://www.nushell.sh/images/link.png">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div id="header">
    {% include navigation.html current="index" %}
  </div><!-- end header -->

  <div class="wrapper">

    <section>

      <div class="greeting">
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <div class="subheading">{{ site.description | default: site.github.project_tagline }}</div>
        </div>
        Welcome to the Nushell project.<br>
        The goal of this project is to take the Unix philosophy of shells,
        where pipes connect simple commands together, and bring it to the modern style of development.
      </div>
      <br>

      <div class="slideshow-container">

        <div class="slides fade">
          <img src="images/ls_table.png" style="width:100%">
          <div class="slidebubble">
            <div class="slidetext">
              Beautiful<br>Tables
            </div>
          </div>
        </div>

        <div class="slides fade">
          <img src="images/committers.png" style="width:100%">
          <div class="slidebubble">
            <div class="slidetext">
              Fun<br>with Data
            </div>
          </div>
        </div>

        <div class="slides fade">
          <img src="images/errors.png" style="width:100%">
          <div class="slidebubble">
            <div class="slidetext">
              Helpful<br>errors
            </div>
          </div>
        </div>

        <div class="slides fade">
          <img src="images/ps_sum.png" style="width:100%">
          <div class="slidebubble">
            <div class="slidetext">
              Structured<br>Data
            </div>
          </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align: center;">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
      <hr>
      <br>
      <br>

      <h1>Installation Overview</h1>
      <div class="information">
        <div class="tab">
          <button id="winbutton" class="tablinks" onclick="showOS(event,'Windows', 'winbutton')">Windows</button>
          <button id="linuxbutton" class="tablinks" onclick="showOS(event,'Linux', 'linuxbutton')">Linux</button>
          <button id="macbutton" class="tablinks" onclick="showOS(event,'macOS', 'macbutton')">macOS</button>
        </div>
        <div id="Windows" class="tabcontent">
          <h3>Pre-built binaries</h3>
          <p><strong>Please Note:</strong> Nu works on Windows 10 and does not currently have Windows 7/8.1 support.</p>

          <p>Download the current released <code class="language-plaintext highlighter-rouge">.zip</code>-file from the
            <a href="https://github.com/nushell/nushell/releases">release page</a>
            and extract it, for example, to:</p>

          <div class="language-plaintext highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>C:\Program Files
  </code></pre>
            </div>
          </div>

          <p>And then add the folder of <code class="language-plaintext highlighter-rouge">nu</code> to your <code
              class="language-plaintext highlighter-rouge">PATH</code>.
            Once we have done that, we can run Nu using the <code class="language-plaintext highlighter-rouge">nu</code>
            command:</p>

          <div class="language-plaintext highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code>&gt; nu
  C:\Users\user&gt;
  </code></pre>
            </div>
          </div>
          <h3>Building Nu locally</h3>
          <p>You can of course build Nu locally. To do this please look over <a
              href="{{ '/installation.html#building-it-locally' | relative_url }}">here</a></p>
        </div>


        <div id="Linux" class="tabcontent">
          <h3>Homebrew</h3>
          <p>If you use <a href="https://brew.sh/">Homebrew</a> on macOS or Linux, you can install the binary by running
          </p>

          <div class="language-shell highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code><span class="o">&gt;</span> brew <span class="nb">install </span>nushell
  </code></pre>
            </div>
          </div>
          <h3>Building Nu locally</h3>
          <p>You can of course build Nu locally. To do this please look over <a
              href="{{ '/installation.html#building-it-locally' | relative_url }}">here</a></p>
        </div>


        <div id="macOS" class="tabcontent">
          <h3>Pre-built binaries</h3>
          <p>You can download Nu pre-built from the <a href="https://github.com/nushell/nushell/releases">release
              page</a>.
          </p>
          <h3 id="homebrew">Homebrew</h3>

          <p>If you use <a href="https://brew.sh/">Homebrew</a> on macOS or Linux, you can install the binary by running
          </p>

          <div class="language-shell highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code><span class="o">&gt;</span> brew <span class="nb">install </span>nushell
  </code></pre>
            </div>
          </div>
          <h3>Building Nu locally</h3>
          <p>You can of course build Nu locally. To do this please look over <a
              href="{{ '/installation.html#building-it-locally' | relative_url }}">here</a></p>
        </div>
      </div>
      <br>
      <div class="information">
        <h1>Further information</h1>
        For a quick start we recommend you to read our <a href="https://www.nushell.sh/book">book</a>.
        It contains all the information you need for setting up Nushell and start working with it.
        <br>
        <br>
        If you've already gone through Nu Book and you still want to have more examples of what Nu is capable off, you
        can take a look in the <a href="https://www.nushell.sh/cookbook">cookbook</a>.
        <br>
        <br>
        We have active discussions on <a href="https://discord.gg/NtAbbGn">Discord</a> and <a
          href="https://twitter.com/nu_shell">Twitter</a>, where you can get help from developers and other Nu users if
        you run into problems. Furthermore you can bring in your own ideas and visions for evolving Nu and work with us
        together on building this modern shell.
      </div>

      {{ content }}

      <p>You can find us here:</p>
      <div class="social">
        <a href="https://github.com/nushell/">
          <img height=20 src="https://www.nushell.sh/images/github.svg" alt="GitHub">
          <span>GitHub</span>
        </a><a href="https://discord.gg/NtAbbGn">
          <img height=20 src="https://www.nushell.sh/images/discord.svg" alt="Discord">
          <span>Discord</span>
        </a><a href="https://twitter.com/nu_shell">
          <img height=20 src="https://www.nushell.sh/images/twitter.svg" alt="Twitter">
          <span>Twitter</span>
        </a>
      </div>

    </section>

  </div>

  <footer>
    <div class="centered">
      If you have suggestions or want to change something please give us <a
        href="https://github.com/nushell/nushell.github.io">feedback</a>
    </div>
  </footer>

  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  <script>

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" current", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " current";
    }

    function showOS(evt, osName, btnname) {
      var i, tabcontent, tablinks;


      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      document.getElementById("Windows").style.display = "none";
      document.getElementById("macOS").style.display = "none";
      document.getElementById("Linux").style.display = "none";

      document.getElementById("winbutton").style.backgroundColor = "#fff";
      document.getElementById("macbutton").style.backgroundColor = "#fff";
      document.getElementById("linuxbutton").style.backgroundColor = "#fff";

      document.getElementById(osName).style.display = "block";
      evt.currentTarget.className += " active";
      document.getElementById(btnname).style.backgroundColor = "#16c60c";
    }

    var OSName = "Unknown";
    if (window.navigator.userAgent.indexOf("Windows NT 10.0") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Windows NT 6.2") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Windows NT 6.1") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Windows NT 6.0") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Windows NT 5.1") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Windows NT 5.0") != -1) {
      OSName = "Windows";
      document.getElementById("Windows").style.display = "block";
      document.getElementById("winbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Mac") != -1) {
      OSName = "macOS";
      document.getElementById("macOS").style.display = "block";
      document.getElementById("macbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("X11") != -1) {
      OSName = "Linux";
      document.getElementById("Linux").style.display = "block";
      document.getElementById("linuxbutton").style.backgroundColor = "#16c60c";
    }
    if (window.navigator.userAgent.indexOf("Linux") != -1) {
      OSName = "Linux";
      document.getElementById("Linux").style.display = "block";
      document.getElementById("linuxbutton").style.backgroundColor = "#16c60c";
    }

    if (OSName == "Unknown") {
      OSName = "Linux";
      document.getElementById("Linux").style.display = "block";
      document.getElementById("linuxbutton").style.backgroundColor = "#16c60c";
    }
  </script>

  {% include script.html %}

</body>

</html>