.navbar .navbar-items-wrapper {
  flex-direction: row-reverse;
}

@media screen and (min-width: 720px) and (max-width: 815px) {
  #docsearch-container {
    width: 150px;
  }
  button.toggle-dark-button {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 816px) {
  #docsearch-container {
    width: 239px;
    .DocSearch-Button-Container {
      width: 150px;
    }
  }

  button.toggle-dark-button {
    margin-right: 30px;
  }
}
