.navbar .navbar-items-wrapper {
  flex-direction: row-reverse;
}

.command-title {
  margin-top: 15px;
  white-space: pre-wrap;
}

/* Reduce line height in code blocks
 * to avoid gaps in tables rendered with box-drawing characters
 */
.theme-default-content pre,
.theme-default-content pre[class*='language-'] {
  line-height: 1.1;
}
.theme-default-content h2.title a {
  color: #adb6be;
}

/* Make sure the line numbers have the same line-height as the code lines
 */
div[class*='language-'].line-numbers-mode .line-numbers {
  line-height: 1.1;
}

/* Add DejaVu Sans Mono to the list of monospaced fonts.
 * This allows tables to be rendered seamlessly with box-drawing characters.
 */
:root {
  --code-line-height: 1.1;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono',
    'Ubuntu Mono', monospace;
}

@media screen and (min-width: 720px) and (max-width: 815px) {
  #docsearch-container {
    width: 150px;
  }
  button.toggle-color-mode-button {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 816px) {
  #docsearch-container {
    width: 239px;
    .DocSearch-Button-Container {
      width: 150px;
    }
  }

  button.toggle-color-mode-button {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --content-width: 960px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --content-width: 1060px;
  }
}

:root,
html[data-theme='light'] {
  h2.title a {
    color: #505050;
    font-weight: 500;
    text-decoration: none;
  }
}
